body{
    max-width: 1200px;
    min-width: 700px;
    background-image: url(./images/tile.jpeg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    background-color: rgb(247, 230, 77);
    max-width: 1500px;
    min-width: 700px;
    justify-content: space-around;
    border-radius: 10px;
    position: fixed;
    top: 0px;
    left: 9.37em;
}
ul{
    list-style: none;
    display: flex;
    margin-top: 3em;
}
li{
    padding: 1em;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li:hover{
    background-color: rgb(224, 146, 56);
    cursor:pointer;
    border-radius: 20px;
}
#times{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    margin-top: 10.62em;
}
table{
    width: 300px;
    height: 525px;
    background-color: rgb(225, 231, 222);
    border-radius: 20px;
}
.deal{
    border-radius: 20px;
    margin-left: 2em;
}
.heading{
    font-size: 2em;
    word-spacing: 0.5em;
    text-align: center;
    border: 2px outset #333333;
    border-radius: 20px;
    width: 500px;
    background-color:rgb(225, 231, 222) ;
    padding: 10px;
    margin: 0px;
    margin-left: 12.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.box{
    width: 1200px;
    background-color: rgb(225, 231, 222);
    border-radius: 30px;
    margin-left: 2em;
}
a{
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 1em;
}
.food{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: yellow;
    border-radius: 25px;
    height: 300px;
    width: 500px;
    margin-left: 22.5em;

}
#contact{
    height: 200px;
    margin-left: 20px;;
    background-color: wheat;
}
#contact-head{
    padding: 10px;
}
